{% extends "layout.html" %}
{% from "bootstrap.html" import panel, form, form_group, input, select, select_option, category_option, with context %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% call panel(title=title) %}
    {% call form(request.path, url_for('series.manage')) %}
      {% call(id, name) form_group(name='name', label='Name') %}
        {{ input(id, name, get_json_conf(name), 'required') }}
      {% endcall %}

      {{ category_option() }}
    {% endcall %}
  {% endcall %}
{% endblock %}
